<% layout("/layouts/boilerplate") %>
<br>
<h3 class="offset-2">Create a New Listing</h3>
<div class="row">
    <div class="col-8 offset-2">
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
             <label for="title" class="form-label">Title</label>
             <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
             <div class="valid-feedback">Title looks good!</div>
        </div>
        
        <div class="mb-3">
            <label for="description"class="form-label">Description</label>
            <textarea name="listing[description]"  class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control" >
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="1200"  class="form-control" required>
                <div class="invalid-feedback">Please enter a valid Price</div>
            </div>
       
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Kolkata,West Bengal" type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br><br>
        <div class="mb-3">
            <button class="btn btn-dark add-btn">Add</button>
        </div>
        
    </form>
    </div>
</div>
